{% extends 'base.html' %}

{% block content %}
<h1>Quienes somos?</h1>

</br>
</br>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div id="testimonials" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{url_for('static', filename='images/joseandres.jpeg')}}" class="d-block w-100 img" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{url_for('static', filename='images/patjane.jpeg')}}" class="d-block w-100 img" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{url_for('static', filename='images/luisga.jpeg')}}" class="d-block w-100 img" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#testimonials" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#testimonials" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <h1 id="nombre">
                Jose Andres Meyer
            </h1>
            <h5>
                Alumno de la carrera de Ingeniería en ciencias de datos
            </h5>
            <br><br>
            <p id="descripcion">
                Encargado del ajuste y evaluación de modelos de regresión dentro del proyecto
            </p>
        </div>
      </div>

</div>

{% endblock %}